*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Footer{
    background-color: #b2c0ca;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    padding: 25px; 
    text-align: center; 
    width: 100%;
    font-size:medium;
    bottom: 0;
    z-index: 1;
    position:fixed;

}