*´{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Footer{
    position:sticky;
    bottom: 0;
    background-color: #b2c0ca;
    align-items: center;
    align-self: center;
    font-size: 15px;
    min-height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;

    
    

  



    
}